**/pet_store/pytest_cache/
**/pet_store/__pycache__/
**/pet_store/allure_result/
**/pet_store/api/__pycache__/
**/pet_store/models/__pycache__/

**/book_store/pytest_cache/
**/book_store/__pycache__/
**/book_store/allure_result/
**/book_store/api/__pycache__/
**/book_store/models/__pycache__/
